* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 32px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 0.75em 1.75em;
  color: black;
}

nav li:hover a {
  color: black;
  opacity: 0.5;
}

.sub-menu {
  position: absolute;
  width: 55%;
  display: none;
  background: rgb(214, 214, 214);
  border-radius: 8px;
  padding-right: 5px;
}

nav li:hover .sub-menu {
  display: block;
}

.sub-menu li {
  display: block;
}

.sub-menu a:hover {
  text-decoration: underline;
}
.col-1 {
  float: left;
}

.col-2 {
  float: right;
}
.span {
  font-weight: bolder;
}

.contain {
  float: left;
}
.price {
  float: inline-end;
}

.co-1 {
  display: inline-block;
}
.co-2 {
  display: inline-block;
}
.co-3 {
  display: inline-block;
}
.co-4 {
  display: inline-block;
}
.co-5 {
  display: inline-block;
}
.App {
  background-color: #000000;
  font-size: 15px;
  padding: 10px 10px;
  margin-top: 2px;
  margin-right: 10px;
  display: inline-block;
  float: right;
  border-radius: 9px;
}
.co {
  color: white;
}
.App:hover {
  background-color: #ffcf48;
  border: 2px solid black;
}
.co:hover {
  color: black;
}
.h1 {
  margin-bottom: 16px;
  font-size: 100px;
  font-family: Recoleta, Georgia, sans-serif;
  line-height: 110%;
  letter-spacing: -1.6px;
  font-weight: 900;
}
p {
  font-size: 24;
}
.App-store {
  justify-content: center;
  margin-top: 20px;
}
.txt {
  text-align: left;
  font-size: 16px;
}
.not-shopify {
  height: 60px;
  width: fit-content;
  background-color: transparent;
  display: inline-block;
  margin-left: 15px;
  line-height: 1.5;
}
.link-2 {
  position: relative;
  display: flex;
  padding-bottom: 3px;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.arrow {
  margin-left: 16px;
  background-color: #fff;
  color: #fff;
}
.line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 1px;
  background-color: #e1e4eb;
}
.txt {
  color: grey;
}
.main-image {
  position: relative;
  z-index: 2;
  border-radius: 8px;
}
.imaGe {
  margin: 0;
  object-fit: contain;
}
.img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 500;
  height: 600;
  right: 5%;
}
/*lma n7ot kol el sewar ab2a a7othom fe container
  w agebo kolo float el right*/
.imaGe-1 {
  position: absolute;
  left: auto;
  top: 20%;
  right: 5%;
  bottom: auto;
  z-index: 2;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 9px 42px 0 rgba(64, 69, 79, 0.1);
}
.circle {
  position: absolute;
  left: -2%;
  top: 17%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #ffcf48;
}
.imaGe-2 {
  position: absolute;
  left: -18%;
  right: auto;
  bottom: -15%;
  z-index: 2;
}
.price-1 {
  float: left;
}
.price-2 {
  float: right;
}
.Sp {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.right-side {
  float: right;
}
